<div>
    <th>
       <h1> <p align=center><a style = "font-family:a1">로또번호 </a></p></h1>
    </th>
    <td>
    <p align=center>
        <%= image_tag  @want%>
        <%= image_tag  @want2%>
        <%= image_tag  @want3%>
        <%= image_tag  @want4%>
        <%= image_tag  @want5%>
        <%= image_tag  @want6%>
    </p>
    </td>
</div>